<h1>Baked goods, straight from aleks's oven.</h1>

<div class="products">
  <% @products.each do |product| %>
    <%= link_to product, class: 'product-block' do %>
      <%= image_tag product.image_url, width: '400px', class: 'product-image'  %>
      <h2><%= product.title %> - <%= product.currency %> <%= product.cost %></h2>
    <% end %>
  <% end %>
</div>