<div class="product-display">

	<p id="notice"><%= notice %></p>
	<%= image_tag @product.image_url, width: '400px', class: 'product-image'  %>
	

		<h2>
			<%= @product.title %>
		</h2>

		<p class="product-description">
			<%= @product.description %>
		</p>

		<p>
			<%= @product.cost %><%= @product.currency %>
		</p>

		<%= link_to 'Write Review', new_product_review_path(@product) %> | 

		<%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>

		<h2 style="margin-top: 50px;">All reviews</h2>

		<% @product.reviews.each do |review| %>
			<div class="product-review">
				<h4><%= review.title %></h4>
				<p>
					<%= review.body %>
				</p>
				<h5>Rating: <%= review.rating %></h5>
			</div>
		<% end %>
</div>
