<!DOCTYPE html>
<html>
  <head>
    <title>Zaira's Baking Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<main>
			<div class="navbar">
				<%= link_to 'Home', root_path, class: 'link' %>
				<%= link_to 'About', root_path, class: 'link' %>
				<%= link_to 'Contact', root_path, class: 'link' %>
			</div>
			<div class="user-navbar">
				<% if user_signed_in? %>
					<%= link_to 'View Profile', current_user, class: 'link' %>
					<%= link_to "Edit Account", edit_user_registration_path, class: 'link' %>
					<%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'link' %>
				<% else %>
					<%= link_to "Login", new_user_session_path, class: 'link' %>
					<%= link_to "Create Account", new_user_registration_path, class: 'link' %>
				<% end %>
			</div>
			<div class="page-body">
				<%= yield %>
			</div>
		</main>
  </body>
</html>
